<div class="container mt-5" style="max-width: 400px">
  <h3 class="text-center mb-3">Login</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Email</label>
      <input
        type="email"
        class="form-control"
        [(ngModel)]="email"
        name="email"
        required
      />
    </div>

    <div class="mb-3">
      <label>Password</label>
      <input
        type="password"
        class="form-control"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button class="btn btn-primary w-100" type="submit">Login</button>
  </form>
</div>
